<a href="https://colab.research.google.com/github/juanpablo0072/ejercicios-de-introducci-n-a-la-ingenier-a-de-sistemas-2/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#ejercicio 4
edadjuan=9
edadalber=(2/3) * edadjuan
edadana=(4/3) * edadjuan
edadmama=edadjuan+edadalber+edadana
print("edadjuan", edadjuan)
print("edadalber", edadalber)
print("edadana", edadana)
print("edadmama", edadmama)

edadjuan 9
edadalber 6.0
edadana 12.0
edadmama 27.0

In [18]:
#ejercicio 5
SUMA=22
X=20
SUMA=SUMA + X
Y=40
X=X+Y ** 2
SUMA=SUMA + X/Y
VALORSUMA=SUMA
print("SUMA", SUMA)
print("X", X)
print("Y", Y)
print("VALORSUMA", VALORSUMA)

SUMA 82.5
X 1620
Y 40
VALORSUMA 82.5

In [24]:
#ejercicio 12
valorsalario=48 * 5.000
salariobruto=valorsalario
retencion=0.125 * salariobruto
salarioneto=salariobruto - retencion
print("valorsalario", valorsalario)
print("salariobruto", salariobruto)
print("retencion", retencion)
print("salarioneto", salarioneto)

valorsalario 240.0
salariobruto 240.0
retencion 30.0
salarioneto 210.0

In [32]:
#ejercicio 14
N=float(input("n"))
cuadrado=N **2
cubo=N **3
print("el cuadrado es", cuadrado)
print("el cubo es", cubo)

n40
el cuadrado es 1600.0
el cubo es 64000.0

In [38]:
#ejercicio 15
R=float(input("r"))
L=float(input("l"))
radio=math.pi * r ** 2
longitud=2 * math.pi * r
print("el radio es", radio)
print("la longitud es", longitud)

r4
l4
el radio es 254.46900494077323
la longitud es 56.548667764616276